.field {
  display: flex;
  align-items: flex-start;
  margin-bottom: 6PX;
  &:last-child {
    margin-bottom: 0;
  }
  .fieldName {
    display: flex;
    align-items: center;
    color: #999;
    margin-right: 8PX;
  }
  .fieldValue {
    flex: 1;
    color: #666;
  }
}

.groupItem {
  margin: 8PX;
  border-radius: 6PX;
  box-shadow: 0 0 6PX rgba(0,0,0,0.04);
  background-color: #fff;
  #{&}Title {
    background-color:#fff7e6;
    color:#fa8c16;
    padding:8PX 12PX;
    line-height: 1;
  }
  #{&}Content {
    padding: 8PX 12PX;
  }
}