/* brandColor = '#2d75ff',
  brandColorTap = '#2a6ce8',
  tintColor = '#fff',
  textBaseColor = '#333B5A',
  fillColor= '#f7f8fa',
  borderColorBase='#ebedf0',
  warningColor='#fa8c16',
  successColor='#6abf47',
  errorColor='#f4333c',
  importantColor='#ff5b05',
  waitColor='#108ee9' */


//$color-brand: #2d75ff;
/* 引入 Taro UI 默认样式 */
$color-brand: #4962eb !default;
$color-brand-light: #4b64e8 !default;
$color-brand-dark: #455fe4 !default;
$color-success: #6abf47 !default;

$color-warning:#fa8c16 !default;

$color-border-base: #ebedf0 !default;


body,html {
  background-color: #f7f8fa;
  //display: flex;
  //flex-direction: column;
  
  width: 100%;
  height: 100%;
  font-size: 14PX;
  color: #333;
  user-select: none;
}
@import "~taro-ui/dist/style/index.scss";